
.genre-movie-item {
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.genre-movie-img {
    border-radius: 10px;
    width: 200px;
    height: 290px;
    object-fit: cover;
    transition: transform 0.2s ease;
    background-size: cover;
}

.genre-movie-img:hover {
    transform: scale(1.1);
}